<!DOCTYPE html>
<html>
<head>
    <title>Jex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="{{ url_for('static', filename='css/socicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script>
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html, body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
         });
    </script>
    <script>
        $(document).ready(function(){
            $("a#alert-message").click(function(){
                $(this).hide();
            });
        });
    </script>
</head>
<body>
    <div id="top">
    </div>
    <div id="alerts">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes center-align">
                 {% for message in messages %}
                    <li><a id="alert-message" href="#welcome-text">{{ message }}</a></li>
                 {% endfor %}
                 </ul>
            {% endif %}
        {% endwith %}
    </div>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
              <li><a href="#top">Home</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#story">Mission</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="center raleway">
        <div id="logo-section" class="row">
            <!--<div id="logo" class="hide col l3 offset-l1 hoverable z-depth-1"></div>-->
            <div id="jex-title" class="col l4 s12 offset-l4 montserrat">
                <h1 class="valign" style="font-size:144px;"><a href="#welcome-text">Jex</a></h1>
            </div>
            <div id="title-socials" class="text-center col l4 s12">
                <ul class="soc">
                    <li><a class="soc-twitter hoverable z-depth-1" href="https://twitter.com/jexteam"></a></li>
                    <li><a class="soc-facebook hoverable z-depth-1" href="https://www.facebook.com/jexteam"></a></li>
                    <!--<li><a class="soc-instagram hoverable z-depth-1 soc-icon-last" href="#"></a></li>-->
                    <li><a class="soc-email1 hoverable z-depth-1 soc-icon-last" href="mailto:jexapp@gmail.com?subject=Contacting Jex Support"></a></li>
                </ul>
            </div>
            <div id="tagline" class="row">
                <h5 class="col l12 raleway lightindigo thin">Say good-bye to nightmarish group projects.</h5>
            </div>
        </div>

        <div id="welcome-text" class="raleway content-section">
            <p class="flow-text">Sign up to be the first to try out our software</p>
            <div class="row">
                <div id="email-form" class="col s6 offset-s3">
                    <form method="POST" action="/signup">
                        {{ form.email(placeholder='yourname@email.com') }}
                        {{ form.csrf_token }}
                        <input class="btn" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div id="team" class="row">
            <h2>Meet the Team</h2>
            <div id="cosi" class="col l4">
                <a href="http://www.cosileone.com"><img src="{{ url_for('static', filename='imgs/cosi-headshot.jpg') }}" class="portrait responsive-img z-depth-1 hoverable"></a>
                <h3>Cosi</h3>
                <span class="personal-social">
                    <ul class="soc">
                        <li><a class="soc-twitter hoverable z-depth-1" href="https://twitter.com/cosileone"></a></li>
                        <li><a class="soc-facebook hoverable z-depth-1" href="https://www.facebook.com/cosileone"></a></li>
                        <!--<li><a class="soc-email1 hoverable z-depth-1 soc-icon-last" href="#"></a></li>-->
                    </ul>
                </span>
                <div class="flow-text bio-text">
                    <p>Passionate about improving the world around him with his insightful problem-solving, Cosi is now focusing on how to advance academic group projects into the 21st century with Jex. Working together with co-founders Matt and Mitch means Cosi has the talented squad he needs to pull off his vision of a more collaborative classroom environment. He believes that with a little creativity and a whole lot of empathy, anyone can make a positive impact on the world.</p>
                </div>
            </div>
            <div id="mitch" class="col l4">
                <a href="https://www.linkedin.com/in/mitchell-gallerstein-13a90b85"><img src="{{ url_for('static', filename='imgs/mitch-headshot.jpg') }}" class="portrait responsive-img z-depth-1 hoverable"></a>
                <h3>Mitch</h3>
                <span class="personal-social">
                    <ul class="soc">
                        <li><a class="soc-twitter hoverable z-depth-1" href="#"></a></li>
                        <li><a class="soc-facebook hoverable z-depth-1" href="#"></a></li>
                        <!--<li><a class="soc-email1 hoverable z-depth-1 soc-icon-last" href="#"></a></li>-->
                    </ul>
                </span>
                <div class="flow-text bio-text">
                    <p>Mitch grew up in sunny Southern California where he spent most of summers at the beach. His experiences in Boston have taught him about everything from “surviving winters in the northeast” to “how to shovel snow”. Minoring in Technological Entrepreneurship at Northeastern University, Mitch has had to come up with, and execute, a variety of business ideas in the classroom.  Mitch likes to put his educational background to good use here at Jex to help deliver the tools students and professors need to be successful members of a team.</p>
                </div>
            </div>
            <div id="matt" class="col l4">
                <a href="https://www.linkedin.com/in/matthew-williams-045b3a40"><img src="{{ url_for('static', filename='imgs/matt-headshot.jpg') }}" class="portrait responsive-img z-depth-1 hoverable"></a>
                <h3>Matt</h3>
                <span class="personal-social">
                    <ul class="soc">
                        <li><a class="soc-twitter hoverable z-depth-1" href="#"></a></li>
                        <li><a class="soc-facebook hoverable z-depth-1" href="#"></a></li>
                        <!--<li><a class="soc-email1 hoverable z-depth-1 soc-icon-last" href="#"></a></li>-->
                    </ul>
                </span>
                <div class="flow-text bio-text">
                    <p>Growing up overseas meant Matt experienced an extraordinary variety of cultures and people. After graduating with a degree in Economics from Franklin & Marshall College, Matt was able to explore both his love of crunching numbers and connecting people by working on various Marketing teams. Excited about the possibilities of connecting people in a positive way, Matt joined the Jex team to continue the mission of bringing students together in an academic setting.  Matt is excited about the future of the company and looks forward to engaging with customers on a regular basis.</p>
                </div>
            </div>
        </div>
        <div id="story" class="row content-section">
            <h2>Our Story:</h2>
            <div class="col l10 offset-l1">
                <p class="flow-text body-content">Jex's beginnings took place within the Northeastern University classrooms. What started off as an Entrepreneurship capstone project with a mission to improve student life, quickly gained momentum and earned us a place at the top, coming in first place in the popular vote for most investable idea.</p>
                <p class="flow-text body-content">Formerly known as GroupUs, the project set out to solve the problem of coordination and collaboration amongst students who, outside the classroom, are essentially strangers. We wanted to solve all the inconveniences of coordinating a team of peers whose only common connection is the group project at hand. With the help of modern collaborative tools, the existence of Learning Management Systems, and a great deal of organizational behavior research we realized that Jex's mission was a real possibility, and an excellent solution to a very real problem.</p>
            </div>
        </div>
        <div id="mission" class="row content-section">
            <h2>What We Do:</h2>
            <div class="col l10 offset-l1">
                <p class="flow-text">What is Jex? Jex is short for <i>Projects</i>.</p>
                <p class="flow-text body-content">Here at Jex we build software for students and professors designed to improve academic endeavors, strengthen project results, and provide a platform for better cooperation among all those involved in higher education.</p>
                <p class="flow-text body-content">We achieve these effects by integrating with the latest collaborative technologies necessary for a team to function, as well as having team-building best practices baked right into our user interface. Our intent is to expose the best features of everything from Learning Management Systems like Blackboard Learn and Moodle, to chatting apps we use everyday, and even the very same people working together in your group project.</p>
            </div>
        </div>
        <div id="footer" class="row content-section">
            <div id="contact" class="col l6 s12">
                <h2 class="lightindigo">Contact:</h2>
                <ul class="soc">
                    <li><a class="soc-twitter hoverable z-depth-1" href="https://twitter.com/jexteam"></a></li>
                    <li><a class="soc-facebook hoverable z-depth-1" href="https://www.facebook.com/jexteam"></a></li>
                    <!--<li><a class="soc-instagram hoverable z-depth-1" href="#"></a></li>-->
                    <li><a class="soc-email1 hoverable z-depth-1 soc-icon-last" href="mailto:jexapp@gmail.com?subject=Contacting Jex Support"></a></li>
                </ul>
            </div>
            <div id="feedback" class="col l6 s12 content-section">
                <h2 class="lightindigo">Feedback:</h2>
                <p class="lightindigo"> We'd love to hear from you. Submit any ideas, comments, questions, or even bugs <a href="http://www.uservoice.com/">here!</a></p>
            </div>
        </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59507110-4', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
